.main
  .main__header
    - if @progress > 7
      - if @group.border <= @group_points
        .main__header__pass
          .event-title
            %p= "目標達成おめでとう！！"
          .event-text
            %p= simple_format @group.event.pass_text
      - else
        .main__header__fail
          .event-title
            %p= "目標達成ならず！！"
          .event-text
            %p= simple_format @group.event.fail_text
    - else
      .main__header__bar
        .main__header__bar__title
          = "現在の平均ポイントは#{@group_points.round(1)}点です！"
        .main__header__bar__text
          - if @progress == 7
            %p= "本日最終日！頑張りましょう！"
          - else
            %p= "残り#{7 - @progress.to_i}日！頑張りましょう！"
  .main__body
    .main__body__top
      <canvas id="myChart" width="200" height=90"></canvas>
      <script>draw_graph();</script>
    .main__body__middle
      .main__body__middle__event
        .main__body__middle__event__pass
          = "【目標 達成イベント】"
        = link_to(@group.event.pass_url) do
          .ogp
            = image_tag tumbnaill_image(@group.event.pass_url), class: "ogp__img"
            .ogp__bottom
              .ogp__bottom__title
                = tumbnaill_title(@group.event.pass_url).truncate(22, omission: '…')
              .ogp__bottom__content
                = tumbnaill_content(@group.event.pass_url).truncate(140, omission: '…')
      .main__body__middle__event
        .main__body__middle__event__fail
          = "【目標 未達成イベント】"
        = link_to(@group.event.fail_url) do
          .ogp
            = image_tag tumbnaill_image(@group.event.fail_url), class: "ogp__img"
            .ogp__bottom
              .ogp__bottom__title
                = tumbnaill_title(@group.event.fail_url).truncate(22, omission: '…')
              .ogp__bottom__content
                = tumbnaill_content(@group.event.fail_url)#.truncate(40, omission: '…')
    %ul.main__body__bottom
      = "グループメンバー"
      - @group_users.each do |user|
        = link_to(user_path(user.id)) do
          %li
            .goal-name
              = user.name
            .goal-text
              = user.goal

