.main
  .main__header
    .header__name
      = link_to(root_path(current_user.id)) do
        = current_user.name
    .header__log-out
      = link_to(destroy_user_session_path, method: :delete) do
        = "ログアウト"
  .main__diary
    - @group_users.each do |user|
      - user.diaries.each do |diary|
        .diary__top-box
          .diary__name
            = diary.date
          .diary__rank
            = diary.point
        .diary__bottom-box
          .diary__text
            = diary.text
  .main__message
    = render @messages

  .main__form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: "input-box__form", placeholder: "type a message"
        = f.submit 'Send', class: "submit-btn"

