.main
  .main__header
    - if @progress > @group_limit and @event
      - if @group.border <= @group_average
        .main__header__pass
          .event-title
            %p= "目標達成おめでとう！！"
          .event-text
            %p= simple_format @group.event.pass_text
      - else
        .main__header__fail
          .event-title
            %p= "目標達成ならず！！"
          .event-text
            %p= simple_format @group.event.fail_text
    - else
      .main__header__bar
        %p.main__header__bar__title
          = "現在の平均ポイントは、"
          %span= "#{@group_average}点"
          = "です！"
        %p.main__header__bar__text
          - if @progress == @group_limit
            = "目標平均との差は"
            %span= "#{(@group_average - @group.border).round(1)}点！ "
            = "本日最終日！頑張りましょう！"
          - else
            = "目標平均との差は、"
            %span= "#{(@group_average - @group.border).round(1)}点！ "
            = "残り"
            %a= "#{@group_limit - @progress.to_i}日！ "
            = "頑張りましょう！"
  .main__body
    - if @group.flag == 1
      .main__body__middle
        - if @group.border <= @group_average
          - if @event.pass_url.present?
            .main__body__middle__event
              .main__body__middle__event__pass
                = "【目標 達成イベント】"
              = link_to(@pass_url) do
                .ogp
                  = image_tag tumbnaill_image(@doc_pass), class: "ogp__img"
                  .ogp__bottom
                    .ogp__bottom__title
                      = tumbnaill_title(@doc_pass).truncate(18, omission: '…')
                    .ogp__bottom__content
                      = tumbnaill_content(@doc_pass).truncate(140, omission: '…')
        - else
          - if @event.fail_url.present?
            .main__body__middle__event
              .main__body__middle__event__fail
                = "【目標 未達成イベント】"
              = link_to(@fail_url) do
                .ogp
                  = image_tag tumbnaill_image(@doc_fail), class: "ogp__img"
                  .ogp__bottom
                    .ogp__bottom__title
                      = tumbnaill_title(@doc_fail).truncate(18, omission: '…')
                    .ogp__bottom__content
                      = tumbnaill_content(@doc_fail).truncate(140, omission: '…')
    .main__body__top
      <canvas id="myChart" width="200" height=90"></canvas>
      <script>draw_graph();</script>
    - if @group.flag != 1
      - if @event
        .main__body__middle
          - if @event.pass_url.present?
            .main__body__middle__event
              .main__body__middle__event__pass
                = "【目標 達成イベント】"
              = link_to(@pass_url) do
                .ogp
                  = image_tag tumbnaill_image(@doc_pass), class: "ogp__img"
                  .ogp__bottom
                    .ogp__bottom__title
                      = tumbnaill_title(@doc_pass).truncate(18, omission: '…')
                    .ogp__bottom__content
                      = tumbnaill_content(@doc_pass).truncate(140, omission: '…')
          - if @event.fail_url.present?
            .main__body__middle__event
              .main__body__middle__event__fail
                = "【目標 未達成イベント】"
              = link_to(@fail_url) do
                .ogp
                  = image_tag tumbnaill_image(@doc_fail), class: "ogp__img"
                  .ogp__bottom
                    .ogp__bottom__title
                      = tumbnaill_title(@doc_fail).truncate(18, omission: '…')
                    .ogp__bottom__content
                      = tumbnaill_content(@doc_fail).truncate(140, omission: '…')
    %ul.main__body__bottom
      .main__body__bottom__title
        = "Group Member"
      - @group_users.each do |user|
        = link_to(user_path(user.id)) do
          %li
            .goal-name
              = user.name
            .goal-text
              = user.goal

