.main
  .main__header
    .header__name
      = link_to(root_path(current_user.id)) do
        = current_user.name
    .header__log-out
      = link_to(destroy_user_session_path, method: :delete) do
        = "ログアウト"
  .main__diary
    %canvas id "myChart" width="400" height="400"
    %script draw_graph();
  .main__message
    = render @messages
  .main__form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: "input-box__form", placeholder: "type a message"
        = f.submit 'Send', class: "submit-btn"
