.side
  .side__group
    .side__group__name
      = @group.name
    .side__group__average
      = "平均点: #{@group.average.round(1)}"
  .side__body
    .side__body__message
      = render @messages
    .side__body__bottom
      = form_for [@group, @message] do |f|
        .side__body__bottom__form
          = f.text_field :content, class: "input-box", placeholder: "type a message"
          = f.submit 'Send', class: "submit-btn"
