.side
  .side__header
    %aside
      %ul.side__header__aside__menu
        %li.side__header__aside__menu__join
          - if current_user.groups.blank? and @group.users.size < 7
            = link_to(join_group_path(@group.id), method: :post, class: "group_add") do
              %p= icon('fas', 'bahai', class: "monster-1")
              %p= "グループ加入"
        %li.side__header__aside__menu__name
          = link_to(root_path(current_user.id)) do
            %p= icon('fab', 'optin-monster', class: "monster-2")
            %p= current_user.name
        %li.side__header__aside__menu__log-out
          = link_to(destroy_user_session_path, method: :delete, class: "log_out") do
            %p= icon('fas', 'pastafarianism', class: "monster-3")
            %p= "ログアウト"
      %button.side__header__aside__button
        %img{:src => "/assets/btn_open.png"}
  .side__group
    .side__group__name
      = @group.name
    .side__group__average
      = "平均点: #{@group.average.round(1)}"
  .side__body
    .side__body__message
      = render @messages
    .side__body__bottom
      = form_for [@group, @message] do |f|
        .side__body__bottom__form
          = f.text_field :content, class: "input-box", placeholder: "type a message"
          = f.submit 'Send', class: "submit-btn"