.side
  .side__group
    .group__name
      = @group.name
    .group__average
      = "平均点: #{@group.average}"

  .main-bottom
    .main__message
      = render @messages
    .main__form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: "input-box__form", placeholder: "type a message"
          = f.submit 'Send', class: "submit-btn"