.side
  .side__group
    .group__name
      = @group.name
    .group__average
      = "平均点: #{@group.average}"

  .side__goal
    - @group_users.each do |user|
      .goal__text
        = user.goal
        .goal__name
          = link_to(root_path(user.id)) do
            = user.name