.wrapper-my
  .my-header
    .my-header__left
      = link_to(user_path(@user.id)) do
        = @user.name
    .my-header__center
      %a= "Diary Page"
    .my-header__right
      %i= icon('fa', 'bars',  class: "header__icon")
      .sidebar
        .sidebar__inner
          = "menu"
        .sidebar__inner__ttl.Menu
          %i= icon('far', 'times-circle', class: "sidebar__inner__icon")
        = link_to(root_path) do
          %p.sidebar__txt.Menu
            = "マイページ"
        - if current_user.groups.blank?
          = link_to(new_group_path) do
            %p.sidebar__txt.Menu
              = "グループ作成"
        - else
          - current_user.groups.each do |group|
            = link_to(group_messages_path(group.id)) do
              %p.sidebar__txt.Menu
                = "グループページ"
            = link_to(edit_group_path(group.id)) do
              %p.sidebar__txt.Menu
                = "グループ編集"
        - if current_user.id == @user.id
          = link_to("/users/#{@diary.user_id}/diaries/#{@diary.id}/edit") do
            %p.sidebar__txt.Menu
              = "日記編集"
          = link_to("/users/#{@diary.user_id}/diaries/#{@diary.id}", method: :delete) do
            %p.sidebar__txt.Menu
              = "日記削除"
        = link_to(destroy_user_session_path, method: :delete) do
          %p.sidebar__txt.Menu
            = "ログアウト"
  .diary-show
    .diary-show__top
      .diary-show__top__date
        %a= "日付：#{@diary.date.strftime("%Y年%m月%d日")}"
      .diary-show__top__point
        %a= "ポイント：#{@diary.point}pt"
    .diary-show__bottom
      .diary-show__bottom__text
        %a= simple_format(@diary.text)
.sidebar-bg
