.new-wrapper
  .new-header
    .new-header__nickname
      = link_to(root_path(current_user.id)) do
        = current_user.name
    .new-header__log-out
      = link_to(destroy_user_session_path, method: :delete) do
        = "ログアウト"
  .body
    .new-form
      .new-form__message
        グループ検索
        .group__create
          .group__genre
            = form_tag(groups_searches_path, method: "get") do
              = text_field :name, placeholder: "グループ名を検索する", class: "search-input"
            .group__name
              = text_field_tag :name , params[:name],placeholder: "作品名・サークル名など"
              = submit_tag("Search")
              