.new-wrapper
  .new-header
    .new-header__nickname
      = link_to(root_path(current_user.id)) do
        = current_user.name
    .new-header__log-out
      = link_to(destroy_user_session_path, method: :delete) do
        = "ログアウト"
  .body
    .new-form
      .new-form__message
        グループ検索
      .group__create
        = form_tag(groups_searches_path, method: :get, class: "search-form") do
          .group__genre
            = text_field_tag :keyword, params[:keyword], placeholder: "グループ名で検索する", class: "search-input"
          .group__name
            = select_tag :genre, options_for_select([["勉強", "勉強"], ["健康", "健康"], ["美容", "美容"], ["仕事", "仕事"], ["趣味", "趣味"], ["その他", "その他"]]), {include_blank: 'ジャンル'}
          .group__submit
            = submit_tag "検索", class: "search-btn"
          - @groups.each do |group|
            = group.name