.new-wrapper
  .new-header
    .new-header__nickname
      = link_to(root_path(current_user.id)) do
        = current_user.name
    .new-header__log-out
      = link_to(destroy_user_session_path, method: :delete) do
        = "ログアウト"
  .body
    .new-form
      .new-form__message
        グループ登録
      %new-group-create
        = form_for [@group] do |f|
          %ul.error
            - @group.errors.full_messages.each do |message|
              %li= message
          .group__create
            .group__genre
              = f.select :genre, [["勉強", "勉強"], ["健康", "健康"], ["美容", "美容"], ["仕事", "仕事"], ["趣味", "趣味"], ["その他", "その他"]], prompt: "ジャンル"
            .group__name
              = f.text_field :name, class: "group__name-input", placeholder: "グループ名"
          .group__create__border
            .new_border_text
              グループとしての目標達成度値を入力してください
            .new-border
              = f.number_field :border, class: "new-border__input", min: 1, max: 5, placeholder: 0
              %input{name: "group[user_ids][]", type: "hidden", value: current_user.id}
          events:
          = f.fields_for :events do |event_form|
            .new-clear
              .new-clear__text
                = event_form.text_area :pass_text, class: "new-clear__text__input", placeholder: "達成したら、したいこと   <例>グループメンバーでご飯を食べに行く"
              .new-clear__url
                = event_form.text_field :pass_url, class: "new-clear__url__input", placeholder: "達成したらしたいことの具体イメージ。(行きたいお店のURLなど)"
            .new-fail
              .new-fail__text
                = event_form.text_area :fail_text, class: "new-fail__text__input", placeholder: "未達成の場合に、やること   <例>グループメンバーで反省会を開く"
              .new-fail__url
                = event_form.text_field :fail_url, class: "new-fail__url__input", placeholder: "未達成の場合にやることの、具体イメージ。(行くお店のURLなど)"
          .new-form__send
            = f.submit '送信', class: "new-submit-btn"
