.new-wrapper
  .new-header
    .new-header__nickname
      = link_to(root_path(current_user.id)) do
        = current_user.name
    .new-header__log-out
      = link_to(destroy_user_session_path, method: :delete) do
        = "ログアウト"
  .body
    .new-form
      .new-form__message
        グループ登録
      %new-group-create
        = form_for [@group] do |f|
          .group__create
            .group__genre
              = f.select :genre, [["勉強", "勉強"], ["健康", "b"], ["美容", "c"], ["仕事", "a"], ["趣味", "b"], ["その他", "c"]], prompt: "ジャンル"
            .group__name
              = f.text_field :name, class: "group__name-input", placeholder: "グループ名"
          .group__create__border
            .new_border_text
              グループとしての目標達成度値を入力してください
            .new-border
              %input{name: "group[user_ids][]", type: "hidden", value: current_user.id}
          .new-form__send
            = f.submit '送信', class: "new-submit-btn"

-# 達成未達成
        .new-clear
          .new-clear__text
            %input{type: "text", name: "", class: "new-clear__text__input", placeholder: "達成したら、したいこと   <例>グループメンバーでご飯を食べに行く"}
          .new-clera__url
            %input{type: "text", name: "", class: "new-clear__url__input", placeholder: "達成したらしたいことの具体イメージ。(行きたいお店のURLなど)"}
        .new-fail
          .new-fail__text
            %input{type: "text", name: "", class: "new-fail__text__input", placeholder: "未達成の場合に、やること   <例>グループメンバーで反省会を開く"}
          .new-fail__url
            %input{type: "text", name: "", class: "new-fail__url__input", placeholder: "未達成の場合にやることの、具体イメージ。(行くお店のURLなど)"}

