.wrapper-my
  .my-header
    .my-header__left
    .my-header__center
      %a= "Account Edit"
    .my-header__right
      %i= icon('fa', 'bars',  class: "header__icon")
      .sidebar
        .sidebar__inner
          = "menu"
          .sidebar__inner__ttl.Menu
            %i= icon('far', 'times-circle', class: "sidebar__inner__ttl__icon")
        = link_to(root_path) do
          %p.sidebar__txt.Menu
            = "マイページ"
        - current_user.groups.each do |group|
          = link_to(group_messages_path(group.id)) do
            %p.sidebar__txt.Menu
              = "グループページ"
        = link_to(destroy_user_session_path, method: :delete) do
          %p.sidebar__txt.Menu
            = "ログアウト"
  .my-body   
    = form_for [@user] do |f|
      .my-body__name
        %a= "Name："
        = f.text_field :name, class: 'user-name', placeholder: '名前の入力'
      .my-body__email
        %a= "Email："
        = f.email_field :email, class: 'user-email', placeholder: 'Emailの入力'
      .my-body__box
        .my-body__box__label
          %a= "目標設定："
        .my-body__box__goal
          = f.text_area :goal, class: 'user-goal', placeholder: '個人目標の入力'
      .my-body__submit
        = f.submit '送信', class: 'user-btn'
.sidebar-bg