.wrapper-my
  .my-header
    .my-header__left
      - if @group.present?
        = link_to @group.name, group_messages_path(@group.id)
    .my-header__center
      %a= "My Page"
    .my-header__right
      %i= icon('fa', 'bars',  class: "header__icon")
      .sidebar
        .sidebar__inner
          = "menu"
        .sidebar__inner__ttl.Menu
          %i= icon('far', 'times-circle', class: "sidebar__inner__icon")
        = link_to(edit_user_path(current_user.id)) do
          %p.sidebar__txt.Menu
            = "アカウント編集"
        - if @group.blank?
          = link_to(new_group_path) do
            %p.sidebar__txt.Menu
              = "グループ作成"
        - else
          = link_to(group_messages_path(@group.id)) do
            %p.sidebar__txt.Menu
              = "グループページ"
          = link_to(edit_group_path(@group.id)) do
            %p.sidebar__txt.Menu
              = "グループ編集"
          = link_to(user_path(@user.id), method: :delete) do
            %p.sidebar__txt.Menu
              = "グループ脱退"
        = link_to(groups_searches_path) do
          %p.sidebar__txt.Menu
            = "グループ検索"
        = link_to(new_user_diary_path(current_user.id)) do
          %p.sidebar__txt.Menu
            = "日記作成"
        = link_to(destroy_user_session_path, method: :delete) do
          %p.sidebar__txt.Menu
            = "ログアウト"
  .my-main
    .my-main__left
      .my-main__left__profile
        .my-main__left__profile__name
          %a= "Name: #{@user.name}"
        .my-main__left__profile__email
          %a= "Email: #{@user.email}"
        .my-main__left__profile__goal
          %a= "個人目標: #{@user.goal}"
      .my-main__left__diary
        - if @day.blank?
          .my-main__left__diary__top
            .my-main__left__diary__top__date
              %a= Date.today.strftime("%Y年%m月%d日")
            .my-main__left__diary__top__point
              %a= "---"
          .my-main__left__diary__text
            %a= "入力された日記はまだありません。"
        - else
          .my-main__left__diary__top
            .my-main__left__diary__top__date
              %a= @day.date.strftime("%Y年%m月%d日")
            .my-main__left__diary__top__point
              %a= @day.point #その日の点数を表示する部分
              -# .star-rating
              -#   = radio_button "point", 1, class: "star-rating"
              -#   %i
              -#   = radio_button "point", 2, class: "star-rating"
              -#   %i
              -#   = radio_button "point", 3, class: "star-rating"
              -#   %i
              -#   = radio_button "point", 4, class: "star-rating"
              -#   %i
              -#   = radio_button "point", 5, class: "star-rating"
              -#   %i

          .my-main__left__diary__text
            %a= simple_format(@day.text)
    .my-main__right
      - if @day.blank?
        .my-main__right__top
          %a= "平均点数：0"
      -else
        .my-main__right__top
          %a= "平均点数：#{@user.point_average}"
      .my-main__right__bottom
        .my-main__right__bottom__calendar
          #calendar
.sidebar-bg
