.wrapper-my
  .my-header
    .my-header__left
      %a= "所属グループ"
    .my-header__center
      .my-header__center__name  
        %a= "ユーザーネーム"
      .my-header__center__point
        %a= "★★★"
    .my-header__right
      %a= "menu"
  .my-main
    .my-main__left
      .my-main__left__profile
        .my-main__left__profile__name
          %a= "Name:_________________"
        .my-main__left__profile__email
          %a= "Email:_________________"
        .my-main__left__profile__goal
          %a= "個人目標:_________________"
      .my-main__left__diary
        .my-main__left__diary__top
          .my-main__left__diary__top__date
          .my-main__left__diary__top__point
        .my-main__left__diary__text
    .my-main__right
