.wrapper-my
  .my-header
    .my-header__left
      %a= "所属グループ"
    .my-header__center
      .my-header__center__name  
        %a= "ユーザーネーム"
      .my-header__center__point
        %a= "平均点数：★★★"
    .my-header__right
      %a= "menu"
  .my-main
    .my-main__left
      .my-main__left__profile
        .my-main__left__profile__name
          %a= "Name:_______________________"
        .my-main__left__profile__email
          %a= "Email:_______________________"
        .my-main__left__profile__goal
          %a= "個人目標:____________________"
      .my-main__left__diary
        .my-main__left__diary__top
          .my-main__left__diary__top__date
            %a= "2020/01/23"
          .my-main__left__diary__top__point
            %a= "点数:★★★"
        .my-main__left__diary__text
          %a= "今日は忙しかったな〜。"
    .my-main__right
      .my-main__right__top
        %a= "平均点数：★★★"
      .my-main__right__bottom
