.wrapper-my
  .my-header
    .my-header__left
      %a= @group.name
    .my-header__center
      %a= "ユーザーページ"
    .my-header__right
      %i= icon('fa', 'bars',  class: "header__icon")
      .sidebar
        .sidebar__inner
          = "menu"
          .sidebar__inner__ttl.Menu
            %i= icon('far', 'times-circle', class: "sidebar__inner__ttl__icon")
        = link_to(root_path) do
          %p.sidebar__txt.Menu
            = "マイページ"
        = link_to(edit_user_path(current_user.id)) do
          %p.sidebar__txt.Menu
            = "グループページ"
        = link_to(destroy_user_session_path, method: :delete) do
          %p.sidebar__txt.Menu
            = "ログアウト"
  .my-main
    .my-main__left
      .my-main__left__profile
        .my-main__left__profile__name
          %a= "Name: #{@user.name}"
        .my-main__left__profile__goal
          %a= "個人目標: #{@user.goal}"
      .my-main__left__diary
        - if @day.blank?
          .my-main__left__diary__top
            .my-main__left__diary__top__date
              %a= Date.today
            .my-main__left__diary__top__point
              %a= "---"
          .my-main__left__diary__text
        - else
          .my-main__left__diary__top
            .my-main__left__diary__top__date
              %a= @day.date
            .my-main__left__diary__top__point
              %a= @day.point
          .my-main__left__diary__text
            %a= simple_format(@day.text)
    .my-main__right
      .my-main__right__top
        %a= "平均点数：★★★"
      .my-main__right__bottom
        .my-main__right__bottom__calendar
.sidebar-bg
